/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/[locale]/components/UI/Button.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* components/Button.module.scss */
.Button_button___T1Ne {
  padding: 16px 24px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 225px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--text-white);
}
.Button_button___T1Ne:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-green);
  border-radius: 30px;
  z-index: -2;
}
.Button_button___T1Ne:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color-blue);
  transition: width 0.3s ease;
  border-radius: 30px;
  z-index: -1;
}
.Button_button___T1Ne:hover:before {
  width: 100%;
}
